<div class="layout-four-column">
  <h4>Four column grid</h4>
  <div class="layout-row">
    <div class="layout-four-column__item" data-kss="lorem-ipsum"></div>
    <div class="layout-four-column__item" data-kss="lorem-ipsum"></div>
    <div class="layout-four-column__item" data-kss="lorem-ipsum"></div>
    <div class="layout-four-column__item" data-kss="lorem-ipsum"></div>
  </div>
</div>
