// List-unstyled
//
// Markup: list-unstyled.html
//
// Styleguide components.list-unstyled

.list-unstyled,
%list-unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;

  &__wrapper {
    &,
    ul,
    ol {
      @extend %list-unstyled;
    }
  }
}
